test_name: "."
sensor_output_protobuf_file: "/home/tetter/tetration/integration_test/src/IT_test_cases/..golden"
collector_output_protobuf_file: "/home/tetter/tetration/integration_test/src/IT_test_cases/..collector"
asic_configs {
  config_file: "/home/tetter/tetration/integration_test/src/IT_test_cases/..sensor_config"
  packet_file: "/home/tetter/tetration/integration_test/src/IT_test_cases/..packet"
  output_file: "/home/tetter/tetration/integration_test/src/IT_test_cases/..out"
}
