test_name: "RandomComboTcpPacketsMultiSrcTcamOverride00IPv6TcpFlagEceSyn"
sensor_config {
  sensor_binary: "./test_data/host-sensor"
  config_file: "/home/tetter/tetration/test_framework/src/integration_test/IT_test_cases/RandomComboTcpPacketsMultiSrcTcamOverride00IPv6TcpFlagEceSyneth0.sw_sensor_config"
}
collector_config {
  collector_binary: "./test_data/Collector"
  collector_config_file: "./test_data/collector_proto.config"
}
sensor_output_protobuf_file: "/home/tetter/tetration/test_framework/src/integration_test/IT_test_cases/RandomComboTcpPacketsMultiSrcTcamOverride00IPv6TcpFlagEceSyn.golden"
collector_output_protobuf_file: "/home/tetter/tetration/test_framework/src/integration_test/IT_test_cases/RandomComboTcpPacketsMultiSrcTcamOverride00IPv6TcpFlagEceSyn.collector"
test_time_out_sec: 4
last_stage: collector
run_locally: true
stub_collector_count: 1
sensor_type: software_sensor
asic_configs {
  asic_binary: "/mnt/tet-11/workspace/ASICUnitTest/tahoe/model/tetration/asic_sensor"
  config_file: "/home/tetter/tetration/test_framework/src/integration_test/IT_test_cases/RandomComboTcpPacketsMultiSrcTcamOverride00IPv6TcpFlagEceSyn.sensor_config"
  packet_file: "/home/tetter/tetration/test_framework/src/integration_test/IT_test_cases/RandomComboTcpPacketsMultiSrcTcamOverride00IPv6TcpFlagEceSyn.packet"
  output_file: "/home/tetter/tetration/test_framework/src/integration_test/IT_test_cases/RandomComboTcpPacketsMultiSrcTcamOverride00IPv6TcpFlagEceSyn.out"
  backup_path: "./test_data/asic_test_data"
  events_file: "/home/tetter/tetration/test_framework/src/integration_test/IT_test_cases/RandomComboTcpPacketsMultiSrcTcamOverride00IPv6TcpFlagEceSyn.events"
  rtl_dump_file: "/home/tetter/tetration/test_framework/src/integration_test/IT_test_cases/RandomComboTcpPacketsMultiSrcTcamOverride00IPv6TcpFlagEceSyn.rtldump"
  rtl_config_dump_file: "/home/tetter/tetration/test_framework/src/integration_test/IT_test_cases/RandomComboTcpPacketsMultiSrcTcamOverride00IPv6TcpFlagEceSyn.rtl_config"
}
